html {
  font-size: 18px;
  background-color: white;
}


body {
  font-family: Helvetica;
  line-height: 1.4em;
}

.flex-container {
  max-width: 960px;
  margin: 0 auto;
}

.header {
  background-color: black;
  color: white;
}

h4 {
  font-weight: bold;
}

.header .flex-container {
  display: flex;
  align-items: center;
  padding: 12px 0 12px 0.5em;
}

h1 {
  font-weight: bold;
}

@media only screen and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}

.header img {
  height: 1.5em;
  padding-right: 15px;
}

@media only screen and (max-width: 470px) {
.main {
  height: 15em;
  } 
  
.line {
width: 100%;
padding: 1em 2em;
top: 10em;
  }

  .line h4 {
    font-size: .77rem;
  }

  .line h1 {
    font-size: 1rem;
  }
}

nav {
  background-color: firebrick;
  color: white;
}

nav ul {
  display: flex;2
  align-items: center;
  justify-content: space-between;
  padding: 0.75em 0;
  list-style: none;
}

.phone-nav {
  display: none;
}

@media only screen and (max-width: 1024px) {
  nav ul {
    display: none;
  }

  .phone-nav {
    display: block;
    text-align: center;
  }
}

.items,
.business-infomation {
  display: flex;
  justify-content: space-between;
  margin: 3em 0 0 0;
}

.item {
  width: 30%;
}

.item-image {
  border: 4px solid black;
  padding: 2em 0;
  height: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-image img {
  max-width: 8em;
}

.description {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5em;
}

.infomation {
  width: 35%;
}

.infomation .Title {
  display: block;
  background-color: black;
  color: white;
  padding: 1em 2em;
}

@media only screen and (max-width: 1024px) {
  .item {
    width: 47%;
  }

  .item.glasses {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  .items,
  .business-infomation {
    flex-wrap: wrap;
  }

  .item {
    width: 90%;
    margin: auto;
  }

  .item.watch {
    display: none;
  }

  .infomation {
    width: 90%;
    margin: 0.5em auto;
  }
}
  
  